@media(max-width:1199px) {
	.ready_start_text h1 {
		font-size: 28px;
	}
	.packges_wrapper .packges_box {
    padding: 30px 0 30px 0; 
}
}

@media(max-width:991px) {
	.packges_wrapper .packges_box {
     min-height: 300px;
}

.packges_wrapper {
    padding: 43px 0;
}
	.offices .col-md-4:nth-child(2){
		border:0;
	}
		.our_team_text h5 {	
    padding-top: 50px;	
    padding-bottom: 40px; 	
    padding: 51px 10px;	
}	
.question_answer{
	padding: 15px 0;
}	
.our_team_text {	
    	
    	
    padding: 0 30px; 	
    height: 100%;	
}
	.time_line .right_arrow, .time_line .left_arrow{
		display: none !important;
	}
	.online_more_side_text P:last-child{
		margin-bottom: 0
	}
	.online_more_side_text P:last-child{
		margin-bottom: 10px
	}
	.director_box{
		margin-bottom: 15px
	}

	.online_more_banks.right .online_more_side_text p {
		padding-left: 2px;
		padding-right: 149px;
	}
	.online_more_side_text {
		background: #fff;
		padding: 13px 13px;
		border: 1px solid #4ad3a5;
		position: relative;
		z-index: 9;
	}
	section.online_more_banks.right {
		padding-top: 0;
		padding-bottom: 0;
	}
	section.online_more_banks.left {
		padding-top: 206px;
		padding-bottom: 59px;
	}
	.online_more_banks.side-three .online_more_side_img {
		padding-top: 0;
		padding-left: 0;
	}
	.hbl_mobile img{
		margin-left: 0;
	}
	.hbl_mobile {
	 
		display: grid;
		place-items: center;
	}
	.gic_texual_wrapper .gic_student_head h1 {
		font-size: 28px;
	}
	.gic_texual_wrapper .gic_student_text p {
		padding-right: 0;
		line-height: 24px;
	}
	.common_btn {
		font-size: 14px;
	}
	.contact_page_heading .inner_main_heading h1 {
		font-size: 24px;
	}
	.contact_option .contact_option_box h4 {
		font-size: 16px;
	}
	.ready_start_text {
		padding: 32px 0;
	}
	.offices .offices_box p {
		padding-right: 0px;
		padding-left:0;
	}
	.offices .offices_box h4 {
		font-size: 20px;
	}
	.slider_sign_wrapper .slider_sign,
	.MainSlider_Wrapper {
		min-height: 400px;
	}
	.slider_sign_wrapper .slider_sign:before,
	.slider_sign_wrapper .slider_sign:after {
		height: 400px;
	}
	.packges_wrapper .packges_box p {
		margin-bottom: 20px;
		padding: 0 12px;
		font-size: 15px;
	}
	.packges_wrapper .packges_box h1 {
		font-size: 20px;
		margin-bottom: 10px;
	}
 
	.statistcis_wrapper .statistic_box h4 {
		font-size: 19px
	}
	.statistcis_wrapper,
	.explore_more_wrapper {
		padding: 50px 0
	}
	.statistcis_wrapper .statistic_box .states_percent {
		font-size: 48px
	}
	.subscribe_section_icons img {
		width: 73px;
	}
	.subscribe_section_text h4 {
		font-size: 20px
	}
	.subscribe_section_text h4 {
		font-size: 16px
	}
	.footer_section .footer_box ul li a {
		font-size: 12px;
	}
	.footer_section .footer_box img {
		max-width: 100%;
		width: 90px;
	}
	.MainNavigation .navbar-nav .nav-item .nav-link {
		padding: 7px 9px;
		font-size: 14px;
	}
	.MainNavigation .navbar-brand img {
		max-width: 250px;
	}
	.MainNavigation .cdicIcon img {
		width: 66px;
	}
	.student_gic_page .ready_start_text {
		text-align: center;
	}
	.gic_steps_box p {
		padding: 0
	}

		.online_more_side_text p{	
			margin-bottom: 10px	
		}
}

@media(min-width:768px)and (max-width:1024px) {
	.packges_wrapper .packges_box{
		padding: 50px 0 35px 0
	}
	/* .offices .col-md-4:nth-child(n + 2) .offices_box h4{
		margin-bottom: 53px;
	} */
}


@media(max-width:768px) {
	.slick-arrow{
		display: none !important;
	}
	.statistcis_wrapper .statistic_box .states_percent{
		padding: 0;
	}
	.single-item ul.slick-dots{
		padding-left: 0;
	}
	section.mobile_baking{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.online_banking_header {
    	padding-left: 0;
	}

	section.online_banking_page {
	    padding-top: 25px;
	}
	.online_banking_header h1 {
	    font-weight: 400;
	    margin-bottom: 14px;
	    padding-top: 0;
	    font-size: 24px;
	}

	.online_more_side_text p {	
    margin-bottom: 10px;	
    font-size: 14px;	
	}	
	.time_line {	
	    padding: 29px 0;	
		}	
		.faq_question_ans {	
    padding: 10px 0;	
}

	.time_line .tabs{padding-top: 20px;}
	.MainNavigation .navbar-nav .nav-item .nav-link{
		height: 40px;
	}
	.director_box h5, .director_box h4, .director_box p {
	    font-size: 16px;
	}
	.horizontal{
		overflow-x: auto;
		padding-top: 15px;
	}
	.footer_box h2{
		padding-top: 18px;
	}
	.heaader_inner.contact_page_heading, .contact_page_heading  {
    height: 80px;
}

	.offices .offices_box span i{
		position: relative;
	}
	.MainNavigation .navbar-nav .nav-item{
		text-align: center;
		justify-content: center;
	}
	.MainNavigation .navbar-nav .nav-item .nav-link {
		padding: 7px 9px;
		font-size: 14px;
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	section.online_more_banks:before{
		display: none;
	}
	.time_line .tabs p{
		height: 168px;
	}
.join_team_text {
    padding-top: 0;
    text-align: center;
}
	.online_more_side_img {
		background: #4ad3a5;
		border-radius: 10px;
		text-align: center;
		padding: 6px 0; 
		margin-top: 15px;
	}
	section.online_more_banks.left {
		padding-top: 0; 
	}

 
	.online_more_banks.right .online_more_side_text p{
		padding: 0
	}
	.search_wraper input{
		width: 100%;
	}
	.faq_search { 
		padding: 25px 0;
		text-align: center;
	}
	.question_answer button.btn.btn-link {
 
		font-size: 14px;
 
		padding-left: 20px;
	}

	.faq_question_ans .question_answer .card-body {
 
		font-size: 14px;
	}
	.inner_main_heading h1 {
		font-size: 26px;
		text-align: center;
	}
	.heaader_inner {
		height: 230px;
 
	}
	.search_wraper button {
 
		margin: 0 auto;
		margin-top: 20px;
	}
    .panel-text {
           padding: 10px 24px;
        }
    .time_line_Pointer li.active button {
         
        font-size: 10px;
        width: 45px;
        height: 45px; 
    }
    .time_line .container {
        max-width: 718px;
    }
	.ready_start_text {
		padding: 0;
	}
	.gic_overview p {
		padding: 0
	}
	.gic_overview {
		text-align: center
	}
	.ready_account_text {
		text-align: center;
		margin-bottom: 15px;
	}
	.time_line_Pointer ul li button {
 
		font-size: 12px;
	}
	.ready_open_account .ready_account_text h1 {
		font-size: 26px;
		padding-top: 30px;
	}
	.ready_men_icon {
		padding-top: 15px;
	}
	.ready_open_account {
		padding: 20px 0;
	}
	.gurantee_text_section .gurantee_head h1 {
		font-size: 21px;
	}
	.page_heading_two_wrap {
		padding: 21px 0;
	}
	.gurantee_text p,
	.gurantee_text ul li {
		font-size: 16px;
	}
	.heaader_inner {
		background-size: cover;
	}
	body {
		font-size: 15px;
	}
	.offices,
	.contact_option {
		padding: 18px 0;
	}
	.offices .offices_box {
		border: 0;
		text-align: center;
	}
	.offices .offices_box span img {
		position: relative;
	}
	.related_links .related_links_box a {
		padding: 10px 0;
	}
	.related_links .related_links_head h2 {
		font-size: 24px;
	}
	.about_page_heading .about_heading h1 {
		font-size: 18px;
	}
    .ready_start_text {
        text-align: center;
        padding: 24px 0;
    }
	/* .ready_start_text a {
		margin-top: 20px;
	} */
	.slider_sign_wrapper .slider_sign,
	.MainSlider_Wrapper {
		min-height: 284px;
	}
	.MainSliderText {
		/*background: rgba(10, 111, 83, .7);*/
		text-align: center;
		margin-top: 9px;
		margin-bottom: 49px;
		padding: 20px 0;
	}
	.slider_sign {
		margin: auto auto !important
	}
	ul.slick-dots li.slick-active button {
		background: #0a6f53;
	}
	.packges_wrapper .packges_box {
		border-radius: 10px;
		margin-bottom: 20px;
		min-height: 189px;
		padding: 23px 0 20px 0;
	}
	.statistcis_wrapper .statistic_box .states_percent {
		margin: 0 0;
	}
<<<<<<< HEAD

	.explore_more_wrapper .explore_more_box_text {
		margin: 10px 0;
	}

=======
	.statistic_box {
		margin-bottom: 20px;
		/*border: 3px dashed #0a6f53;*/
		padding: 14px 0;
	}
	.explore_more_wrapper .explore_more_box_text {
		margin: 10px 0;
	}
	.explore_more_wrapper .explore_more_box {
		/*border: 3px dashed #0a6f53;*/
		padding: 10px 0;
		margin-bottom: 20px;
	}
>>>>>>> 7d6051810bddf3e80810c592b2ce7c5a998a1592
	.explore_more_box_icon img {
		width: 82px;
	}
	.subscribe_section_text {

		margin: 20px 0;
	}
	.subscribe_section_social {
		justify-content: center;
		margin-top: 27px;
	}
	.subscribe_section_social img {
		max-width: 40px
	}
	footer.footer_section {
		text-align: center;
	}
	.copy_right_section {
		flex-direction: column;
		align-items: center;
	}
	.packges_wrapper,
	.statistcis_wrapper,
	.explore_more_wrapper {
		padding: 20px 0;
	}
	.explore_boxes {
		padding-top: 10px;
	}
	.contact_option .contact_option_box h4 {
		padding-top: 15px;
	}
	.contact_option_box {
		margin-bottom: 20px;
	}
	.online_more_banks.right .online_more_side_img h1, .online_more_banks.right .online_more_side_img p{
		color: #fff
	}
	section.online_more_banks.right .col-md-9{
		order: 1
	}
	section.online_more_banks.side-three {
		padding-top: 0; 
	}
	section.online_more_banks.left{
		padding-bottom: 0;
}
	.mortage_calculator_page .mortal_heading h1 {
     
    font-size: 21px;
}
.mortage_calculator_page .mortal_heading h2 {
     
font-size: 22px;
}
.mortage_calculator_page {
    padding: 20px 0;
}
.slick-arrow{
	display:none !important;
}
.gurantee_text_section {
    padding: 30px 0;
}
}

@media(max-width:767px) {
	.offices .col-md-4:nth-child(2){
		display: none;
	}
	.statistic_box, .explore_more_wrapper .explore_more_box{
		margin-bottom: 20px;
		border: 3px dashed #0a6f53;
		padding: 14px 0;
	}
	.subscribe_section_text{
		align-items: center;
	}
	.packges_wrapper .packges_box{
		padding: 30px 0 30px 0
	}
	  .packges_wrapper .col-md-4{
		  margin-bottom:15px; 
	  }
	  .offices .offices_box p{
		  padding-left: 0;
	  }
}

@media(max-width:500px) {
	.mortage_calculator_page .commonForm .form-group{
		    margin-bottom: 15px;
	}
	.mortage_calculator_page  .mortage-stage h1{
			font-size: 22px;
			margin-bottom: 0;
			line-height: normal
	}
	.mortage_calculator_page  .mortage-stage label{
			margin-bottom: 0;
	}
	.mortage_calculator_page  .mortage-stage p{
			font-size: 14px;
	}
	.time_line_Pointer ul{
		align-items: center;
	}
	.time_line_Pointer ul li button{
		width: 32px;
		height: 32px;
	}
	.time_line_Pointer{
		margin-top: 0
	}
.time_line_Pointer ul:before{
	top: 50%;
}
.time_line .tabs p{
	font-size: 14px;
}
.time_line{
	padding: 30px 0;
}
.time_line .time_line_head{
	margin-bottom: 0px
}
.join_team_text{
	padding-top: 10px;
}
.join_team_text{
	text-align: center;
}
.join_team h1{
	font-size: 20px;
}
.join_team p{
	font-size:16px;
}
	.time_line_Pointer li.active button{
		width: 40px;
		font-size: 9px;
		height: 40px;
		transform: scale(1.2);
	}
	.our_team_text{
		height: auto !important;
		min-height: 100%;
	}
	.our_team_text h5 {
    padding-top: 30px;
    padding-bottom: 30px;
 
    font-size: 18px;
    padding: 65px 0; 
}


	.faq_question_ans button.btn.btn-link:after{
		display: none;
	}
	.time_line_Pointer ul li button {
 
		font-size: 10px;
	}
	.offices,
	.contact_option {
		padding: 30px 0;
	}
	.contact_icons img {
		width: 42px;
	}
	.MainSliderText h1 {
		font-size: 18px
	}
	.MainNavigation .navbar-brand img {
		max-width: 200px;
	}
	.slider_sign_wrapper .slider_sign h2 {
		font-size: 20px;
		line-height: 23px;
	}
	.slider_sign_wrapper .slider_sign a {
		padding: 3px 49px;
		font-size: 14px;
	}
	ul.slick-dots li button {
		width: 12px;
		height: 12px;
	}
	ul.slick-dots li+li {
		margin-left: 8px;
	}
	.packges_wrapper .packges_box {
		padding: 30px 0 30px 0;
		min-height: auto;
	}
	.statistcis_wrapper .statistic_box .states_percent {
		margin: 0;
	}
	.statistcis_wrapper .statistic_box h4 {
		font-size: 17px;
	}
	.statistcis_wrapper .statistic_box .states_percent {
		font-size: 36px;
	}
	.statistcis_wrapper .statistic_box .states_percent span {
		font-size: 24px;
	}
	.explore_more_wrapper .section_head h1 {
		font-size: 22px;
	}
	.packges_wrapper,
	.statistcis_wrapper,
	.explore_more_wrapper {
		padding: 15px 0;
	}
	.explore_boxes {
		padding-top: 30px;
	}
	.explore_more_box_button a {
		padding: 5px 33px;
		font-weight: 500;
		font-size: 13px;
	}
	.packges_wrapper .packges_box a {
		padding: 5px 33px;
		font-weight: 500;
		font-size: 13px;
	}
	.statistcis_wrapper .col-md-4:last-child .statistic_box {
		margin-bottom: 0;
	}
	.explore_more_box_icon img {
		width: 61px;
	}
	.explore_more_wrapper .explore_more_box_text {
		margin: 10px 0;
	}
	.subscribe_section_text h4,
	.subscribe_section_text p {
		text-align: center;
	}
	.subscribe_section_social img {
		max-width: 19px;
	}

		.subscribe_section_social a img {
		max-width: 50px;
	}
	.subscribe_section_icons img {
		width: 50px;
	}
	.copy_right_section p {
		font-size: 13px;
	}
	.footer_section .footer_box img {
		width: 70px
	}
	.footer_section .footer_box ul li {
		font-size: 13px;
	}
	.copy_right_section ul li a {
		font-size: 14px;
	}
	.top_bar_wapper .top_bar ul li a {
		font-size: 12px;
		padding: 0 15px;
	}
	.packges_wrapper .packges_box h1 {
		margin-bottom: 20px;
	}
	.ready_men_icon img {
		width: 100px;
	}
.copy_right_section ul{	
		padding-left: 0;	
	}	
	.ready_start_text{	
		flex-direction: column;	
	}	
	.about_page_heading .about_heading h1 {	
    font-size: 14px;	
    padding: 1px 19px;	
}	
.director_box h5, .director_box h4, .director_box p{	
	font-size: 16px;	
}	
.board_of_directors{	
	padding: 25px 0;	
}	
.board_of_directors h1 {	
    font-size: 24px; 	
    padding-bottom: 10px;	
}	
.ready_start_text h1 {	
    font-size: 22px;	
}	
.join_team{	
	padding: 20px 0;	
}	
.about_top_text {	
    padding: 30px 25px;	
}	
footer.footer_section {	
    text-align: center;	
    padding: 20px 0px;	
}	
.statistcis_wrapper .statistic_box .states_percent {
    font-size: 36px;
}
}






