/* ===============
Default CSS
========= */

/*Hide all except first fieldset*/
.new_account_wrapper fieldset:not(:first-of-type) {
	display: none;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.default-list {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.common_btn {
	padding: 5px 15px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	border-radius: 50px;
	transition: ease all .4s;
	position: relative;
	z-index: 1;
	border-radius:50px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

/*border_btn*/
.border_btn:before{
	content: '';
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	border-radius: 50px;
	z-index: -1;
	transition: all .5s;
} 
.border_btn:hover:before{
	width: 100%;
	transition: all .5s;
}
/*Border Button*/
 
.common_btn:before{
	content: '';
	width: 0%;
	height: 100%; 
	position: absolute;
	left: 0;
	top:0;
	border-radius: 50px;
	z-index: -1;
	transition: all .5s;
} 
.common_btn:hover:before{
	width: 100%;
	transition: all .5s;
} 
/*Dark Green Button*/

.btn_green:before{
	background: #0a6f53;
	border-radius: 50px;
}
.btn_green:hover:before{
	background: #0a6f53;
} 
/*End Dark Green Button*/

/*Ligh Green Button*/ 
.btn_green-light:hover:before{
	background: #4ad3a5;
}
/*End Light Button*/

/*Extra Light Green Button*/
.btn_green-light-x:hover:before{
	background: #a5ead3;
}
/*End Extra Light Green Button*/

.btn_grey:hover:before{
	background: #333;
}
 
.common_btn:hover {
	text-decoration: none;
	color: #fff;
}
.border_btn {
	border: 1px solid #4a4a4a;
	color: #4a4a4a;
	position: relative;
	border-radius: 50px;
}
.arrow_btn span {
	display: inline-block;
	position: relative;
	top: 4px;
} 
.arrow_btn {
	color: #000000;
	font-size: 18px
}
.arrow_btn:hover {
	text-decoration: none;
	color: #000
}
.grey_btn:before{
	content: '';
	width: 0%;
	height: 100%; 
	position: absolute;
	left: 0;
	top:0;
	border-radius: 0;
	z-index: -1;
	transition: all .5s;
}

.grey_btn:hover:before{
	background: #333
}

/* ===============
Top bar CSS
========= */

.top_bar_wapper {
	background: #0a6f53;
	height: 35px;
}

.top_bar_wapper .top_bar ul li a {
	padding: 0 25px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 100;
}

.top_bar ul li {
	height: 35px;
	display: flex;
	align-items: center;
}

.top_bar ul li:last-child a {
	font-weight: 500;
}

.top_bar ul {
	display: flex;
}

.top_bar {
	display: flex;
	justify-content: flex-end;
}


/* ===============
Navigation  CSS
========= */

.MainNavigation .navbar-brand img {
    width: 100%;
    max-width: 250px;
}

.MainNavigation nav.navbar {
	padding: 0
}

.MainNavigation .navbar-brand {
	padding: 0
}

.MainNavigation .cdicIcon img {
	width: 82px;
}

.MainNavigation .navbar-nav {
	margin-left: auto;
}

.MainNavigation .navbar-nav .nav-item .nav-link {
	color: #4a4a4a;
	text-transform: uppercase;
	padding: 15px 22px;
	height: 98px;
	display: flex;
	align-items: center;
	position: relative;
}

.MainNavigation .navbar-nav .nav-item{
	display: flex;
	align-items: center;
}

/* .MainNavigation .navbar-nav .nav-item .nav-link:hover {
	background: #0a6f53;
	color: #fff
} */

.MainNavigation .navbar-nav   .nav-item  + .nav-item .nav-link:before{
	content:'';
	width: 100%;
	height: 0;
	background: #4ad3a5;
	position: absolute;
	top: 0;
	left: 0;
	transition: ease all .4s;
	z-index: -1;

}

.MainNavigation .navbar-nav .nav-item:hover  .nav-link{
	color: #fff;
	transition: ease all .5s
}
.MainNavigation .navbar-nav .nav-item:hover  .nav-link:before{
 
	height: 100%;
	color: #fff;
 
	
}




.MainNavigation .navbar-nav .nav-item:first-child:hover .nav-link {
	background: transparent
}

.MainNavigation button.navbar-toggler svg {
	width: 30px;
	height: 30px;
}

.MainNavigation button.navbar-toggler svg path {
	fill: #0a6f53
}


/* ===============
Slider  CSS
========= */

.MainSlider_Wrapper {
	min-height: 480px;
	background-size: cover;
}

.MainSliderText h1 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 400;
}

.MainSliderText a {
	color: #000000;
	font-size: 18px;
}

.MainSliderText a span {
	display: inline-block;
	position: relative;
	top: 4px;
}

.MainSliderText a {
	color: #000000;
	font-size: 18px;
}

.MainSliderText span {
	display: inline-block;
	position: relative;
	top: 4px;
}

.MainSliderText {
	padding-top: 35px;
}

.slider_sign_wrapper .slider_sign {
	background: #4ad3a5;
	min-height: 480px;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 350px;
	flex-direction: column;
	margin-right: 70px;
	position: relative;
}

.slider_sign_wrapper .slider_sign h2 {
	font-size: 26px;
	font-weight: 300;
	line-height: 36px;
}

.slider_sign_wrapper .slider_sign a {
	padding: 5px 55px;
	margin-top: 10px;
	background: #4a4a4a;
}
 

.slider_sign_wrapper .slider_sign:before {
	content: '';
	background: url(../images/brush.png);
	position: absolute;
	top: 0;
	left: -21px;
	width: 21px;
	height: 480px;
	z-index: 999;
	display: block;
	display: none;
}

.slider_sign_wrapper .slider_sign:after {
	content: '';
	background: url(../images/brush.png);
	position: absolute;
	top: 0;
	right: -21px;
	width: 21px;
	height: 480px;
	z-index: 999;
	display: block;
	transform: scale(-1);
	display: none;
}


/* ===============
PACKEGES  CSS
========= */

.packges_wrapper {
	padding: 70px 0
}

.packges_wrapper .packges_box {
	padding: 80px 0 80px 0;
	text-align: center;
	border-radius: 20px;
	height: 100%;
}

.packges_wrapper .packges_box h1 {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 25px;
}

.packges_wrapper .packges_box p {
	color: #fff;
	margin-bottom: 40px;
	padding: 0 60px
}

.packges_wrapper .saving_box {
	background: #0a6f53;
}

.packges_wrapper .packges_box a {
	display: inline-block;
}

.packges_wrapper .saving_box a {
	background: #4ad3a5;
	color: #4a4a4a;
	padding: 10px 30px
}

 

.lending_box {
	background: #a5ead3;
}

.packges_wrapper .lending_box p {
	color: #4a4a4a;
}

.packges_wrapper .lending_box a {
	background: #ffffff;
	color: #4a4a4a;
	padding: 10px 30px
}

.packges_wrapper .lending_box h1 {
	color: #4a4a4a
}

 

.packges_wrapper .lending_box a {
	background: #fff;
}

.packges_wrapper .trade_finance {
	background: #549a87
}

.packges_wrapper .trade_finance a {
	background: #4a4a4a;
	padding: 10px 30px
}

.packges_wrapper .trade_finance a:hover {
	 
	color: #4a4a4a
}


/* ===============
STATISTICS  CSS
========= */

.statistcis_wrapper {
	background: #edfbf6;
	padding: 70px 08px;
}

.statistic_box {
	text-align: center
}

.statistcis_wrapper .statistic_box h4 {
	font-size: 25px;
	font-weight: 300;
	line-height: normal;
	color: #4a4a4a
}

.statistcis_wrapper .statistic_box .states_percent {
	font-size: 93px;
	font-weight: 300;
	margin: 50px 0;
	color: #4a4a4a;
	padding: 50px;
}

.statistcis_wrapper .statistic_box a {
	color: #4a4a4a;
	font-size: 16px;
}

.statistcis_wrapper .statistic_box .states_percent span {
	font-size: 42px;
}


/* ===============
EXPLORE MORE  CSS
========= */

.explore_more_wrapper {
	padding: 70px 0;
}

.explore_more_wrapper .section_head h1 {
	color: #0b6f53;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 400
}

.explore_more_wrapper .explore_more_box_text {
	font-size: 14px;
	line-height: normal;
	margin: 25px 0;
}

.explore_more_box_button a {
	display: inline-block;
	padding: 7px 40px;
	line-height: normal;
	font-weight: 500;
}

.explore_more_box_button a:hover {
	color: #fff;
 	transition: color 0.15s ease-out;
	text-decoration: none;
}

.explore_boxes {
	padding-top: 60px;
}


/* ===============
Subcribe  CSS
========= */

.subscribe_section {
	background: #0b6f53;
	padding: 30px 0;
	position: relative;
	margin-top: 50px;
}

.subscribe_section:before {
	content: '';
	background: url(../images/brush-2.png);
	width: 100%;
	height: 43px;
	position: absolute;
	top: -43px;
	background-repeat: repeat;
}

.subscribe_section_text h4,
.subscribe_section_text p {
	margin-bottom: 0;
	color: #fff;
}

.subscribe_section_text h4 {
	cursor: pointer;
}

.subscribe_section_icons {
	text-align: center;
}

.subscribe_section_text {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.subscribe_section_social {
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.subscribe_section_social a+a {
	display: inline-block;
	padding-left: 40px;
}
.subscribe_section_social a i{
	font-size: 50px;
	color:#fff;
}

/* ===============
FOOTER  CSS
========= */

.footer_section .footer_box ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
}
.footer_section .footer_box h2 {
    color: #4ad3a5;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
}
.footer_box .cdic-icon {
    width: 87px !important;
}



.footer_section .footer_box img {
	max-width: 100%;
	width: 150px;
}

.footer_section .footer_box ul {
	padding-top: 20px;
}

.footer_section .footer_box ul li {
	padding-bottom: 15px;
}

.footer_section {
	background: #272628;
	padding-top: 70px;
	padding-bottom: 50px;
}


/* ===============
COPYRIGHT  CSS
========= */

.copy_right_section {
	display: flex;
	justify-content: space-evenly;
	padding-top: 50px;
}

.copy_right_section p {
	color: #fff;
	font-weight: 300;
}

.copy_right_section ul {
	display: flex;
	list-style-type: none;
}

.copy_right_section ul li:last-child {
	padding-left: 18px;
	;
}

.copy_right_section ul li a {
	color: #fff
}

.copy_right_section ul li a:hover {
	text-decoration: none;
}


/* Inner Pages */

.heaader_inner {
	height: 296px;
	background-size: 100% 100%;
	display: flex;
}

.about-us_page {
	background-image: url(../images/about-us-banner.png);
}

.faq_page {
	background: #4d4d4d;
}


.our-team-banner {
	background-image: url(../images/our-team.jpg);
}
.student_gic_bg {
	background-image: url(../images/slider-02.png);
}

.inner_main_heading {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner_main_heading h1 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
}
.inner_main_heading h1 p{
	font-size: 14px;
	color: #fff;
	text-align-last: center;
}

.inner_main_heading h1 span {
	color: #4ad3a5;
	font-weight: 500;
}

.about_page_heading .about_heading {
	background: #c9f2e4;
	padding: 10px 0
}

.about_page_heading .about_heading h1 {
	color: #4a4a4a;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 32px;
}

.panel-text {
	padding: 25px 60px;
	margin-bottom: 0;
}
.panel-text p {
    text-align: justify;
}
.ready-start {
	background: #0b6f53;
	min-height: 100px;
}

.ready_start_text {
	display: flex;
	min-height: 100px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.ready_start_text h1 {
	color: #fff;
	text-transform: capitalize;
	/*letter-spacing: 3.5px;*/
	font-weight: 400;
	margin-bottom: 0
}

.ready_start_text a {
	background: #ffffff;
	color: #4a4a4a;
	padding: 8px 50px;
	display: inline-block;
	font-weight: 500
}

.ready_start_text a:hover {
	color: #4a4a4a;
	background: #c9f2e4;
}

.time_line {
	padding: 70px 0;
	background: #f5f5f5;
	margin: 0 29px;
}


.time_line .c-arrow {
		width: 40px;
		height: 40px;
		background: #4ad3a5;
		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 99;
		cursor: pointer;
}
.time_line .left_arrow {
    left: -53px;
    top: 50%;
    transform: translateY(-50%);
}
.time_line .right_arrow {
    right: -53px;
    top: 50%;
    transform: translateY(-50%);
}

.time_line .time_line_head {
	font-size: 24px;
	margin-bottom: 50px;
	;
}

.time_line_Pointer ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: space-around;
	position: relative;
	height: 85px;
}

.time_line_Pointer ul li button {
	width: 50px;
	height: 50px;
	background: #4a4a4a;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 0;
	color: transparent;
	cursor: pointer;
	transition: ease all .3s;
	font-size: 0;
}

.time_line_Pointer ul li button:active {
	transform: scale(0);
}

.time_line_Pointer ul:before {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	background: #4ad3a5;
	top: 25px;
}

.time_line .tabs {
	text-align: center;
	padding-top: 41px;
}

.time_line .tabs .commont_tab {
	display: none;
}

.time_line .tabs .commont_tab.active {
	display: block;
}

.time_line .tabs p {
	font-size: 18px;
	height: 130px;
}

.time_line_Pointer li.active button {
	background: #4ad3a5;
	transform: scale(1.8);
	color: #fff;
	font-size: 11px;
}
.time_line_Pointer {
    margin-top: 30px;
}

.item.slick-slide.slick-current.slick-active .commont_tab:first-child{
	
}

.time_line_Pointer li.active span {
	display: block;
}

.time_line_Pointer li span {
	display: none;
	color: #fff;
	font-weight: 500
}

.privacy-security {
	background: #4f4f4f;
}

.privacy_security_page .security_head h1 {
	text-transform: capitalize;
}

.question_answer button.btn.btn-link {
	text-align: justify;
	color: #4a4a4a;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
	padding-left: 20px;
	white-space: normal;
}

.question_answer .card-header {
	background: transparent;
	padding: 0;
	border: 0
}

.question_answer .card {
	background: transparent;
	padding: 0;
	border: 0
}

.question_answer .card-body {
	padding-top: 0;
}

.question_answer {
	padding: 25px 40px;
	padding-top: 0;
}

.single-item ul.slick-dots {
	list-style: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	display: flex;
}

.single-item ul.slick-dots li+li {
	margin-left: 12px;
}

ul.slick-dots li.slick-active button {
	background: rgb(74, 211, 165)
}

ul.slick-dots li button {
	background: #000000;
	border: 0;
	width: 12px;
	height: 12px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius:50px;
	-o-border-radius:50px; 
	color: transparent;
}

button:focus {
	border: 0 !important;
	outline: 0 !important;
	box-shadow: none !important;
}

.contact_page_heading .inner_main_heading,
.contact_page_heading {
	height: 100px;
}

.contact_page_heading .inner_main_heading h1 {
	color: #4a4a4a;
	font-size: 30px;
	font-weight: 300
}

.MainNavigation {
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .5);
	/*padding: 0 300px*/
	;
}

.contact_option {
	background: #4ad3a5;
	padding: 70px 0;
}

.contact_option_box {
	text-align: center;
}

.contact_option .contact_option_box h4 {
	font-size: 20px;
	color: #fff;
	padding-top: 25px;
	font-weight: 400;
}

.contact_option_box img {
	width: 60px;
}

.contact_icons {
	height: 70px;
}

.offices {
	background: #f7f7f7;
	padding: 60px 0;
}
.offices .col-md-4{
	text-align: center
}
.offices .col-md-4:nth-child(2){ 
	border-right: 1px solid #999;
	border-left: 1px solid #999;
    text-align: center;
}

.offices .col-md-4:nth-child(2){ 
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}


	

.offices .offices_box h4 {
	font-size: 22px;
	margin-bottom: 30px;
}

.offices .offices_box {
	position: relative;
}

.offices .offices_box {
	padding-top: 15px;
	;
}

.offices .offices_box span i {
	position: relative;
	left: 0;
	top: 0;
	font-size: 16px;
	color: #4ad3a5;
}

.offices .offices_box p {
	position: relative;
}

.offices .offices_box p { 
	font-size: 14px;
	font-weight: 400; 	
	margin-bottom: 25px;
}

/* .offices .offices_box {
	padding-top: 15px;
<<<<<<< HEAD
	border-right: 1px solid #999;
	text-align: center;
} */
=======
	text-align:center;
}
>>>>>>> 7d6051810bddf3e80810c592b2ce7c5a998a1592

.offices_box.offices_box_right {
	border-right: none;
}

.related_links .related_links_head h2 {
	color: #9b9b9b;
	text-align: center;
	font-size: 29px;
	font-weight: 400;
}

.related_links .related_links_box {
	padding-top: 20px;
}

.related_links .related_links_box a {
	padding: 15px 0;
	display: inline-block;
	width: 100%;
	text-align: center;
	background: #333;
}

.related_links .related_links_box a:hover {
	background: #0b6f53
}

section.related_links {
	padding: 22px 0;
	background: #f7f7f7;
	padding-bottom: 50px;
}

.page_heading_two_wrap {
	background: #4ad3a5;
	padding: 50px 0;
	text-align: center
}

.page_heading_two_wrap .page_heading_two {
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	font-weight: 300;
}

.personal-revised-saving-account .slick-dots , .revised-saving-account .slick-dots {
	margin-left: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	margin-top: 50px;
	justify-content: center;
}


.personal-revised-saving-account .c-arrow, .revised-saving-account .c-arrow{
	width: 40px;
    height: 40px;
    background: #4ad3a5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 99;
	cursor: pointer;
}
 

.personal-revised-saving-account .left_arrow , .revised-saving-account .left_arrow {
    left: -53px;
    top: 50%;
    transform: translateY(-50%);
}
.personal-revised-saving-account .right_arrow , .revised-saving-account .right_arrow {
    right: -53px;
    top: 50%;
    transform: translateY(-50%);
}

.personal-revised-saving-account .slick-dots li+li , .revised-saving-account .slick-dots li+li {
	margin-left: 10px;
}

.personal-revised-saving-account .slick-dots li button , .revised-saving-account .slick-dots li button {
	background: #9b9b9b;
	cursor: pointer;
}

.personal-revised-saving-account .slick-dots li.slick-active button ,.revised-saving-account .slick-dots li.slick-active button {
	background: #4ad3a5;
}

.item.slick-slide {
	outline: none;
}

.gurantee_text_section {
	padding: 50px 0
}

.gurantee_text_section .gurantee_head h1 {
	font-size: 25px;
	color: #4a4a4a;
	padding-bottom: 10px;
	;
}

.gurantee_text p {
	font-size: 20px;
	color: #4a4a4a;
}

.gurantee_text ul {
	padding-top: 22px;
	border-top: 1px solid #cef3e7
}

.gurantee_text ul li {
	font-size: 20px;
	position: relative;
	padding-left: 25px;
	color: #4a4a4a;
	padding-bottom: 10px;
}

.gurantee_text ul li:before {
	content: '';
	background: url(../images//check-icon.png);
	width: 12px;
	height: 11px;
	position: absolute;
	left: 0;
	top: 11px;
}

.gurantee_text span {
	color: #9b9b9b;
	font-size: 17px;
	display: inline-block;
	margin-top: 25px;
	letter-spacing: .4px
}

.revised_saving_account .ready-start {
	background: #4a4a4a;
	min-height: 150px;
}

.revised_saving_account .ready_start_text {
	min-height: 150px;
	;
}

.revised_saving_account .ready_start_text a {
	background: #4ad3a5;
	color: #fff;
}

.ready_open_account {
	background: #fbfbfb;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 2px solid #eee;
}

.ready_open_account .ready_account_text h1 {
	color: #9b9b9b;
	font-size: 37px;
	line-height: normal;
	font-weight: 300;
	padding-top: 30px;
}

.ready_open_account .ready_account_text a {
	color: #4a4a4a;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.ready_men_icon {
	text-align: center
}

.ready_men_icon p {
	color: #4a4a4a;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 5px;
}


/* GIC Student CSS */

.gic_texual_wrapper {
	padding: 40px 0;
}

.gic_texual_wrapper .gic_student_head h1 {
	color: #4ad3a5;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 300;
}

.gic_texual_wrapper .gic_student_head h1 span {
	font-weight: bold
}

.gic_texual_wrapper .gic_student_text p {
	padding-right: 54px;
	line-height: 28px;
}

.how_gic_work .how_gic_work_head h1 {
	color: #4a4a4a;
	font-size: 22px;
	text-align: center;
	padding-bottom: 30px;
}

.gic_overview h4 {
	color: #4a4a4a;
	font-size: 18px;
	font-weight: 600;
}

.gic_overview p {
	color: #4a4a4a;
}

.gic_steps .gic_steps_box h3 {
	color: #4ad3a5;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.gic_steps_box {
	margin-bottom: 67px;
}

.gic_steps {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center
}

.gic_steps_box p {
	padding: 0 140px;
}

.gic_overview p {
	padding-right: 110px;
}

.gic_steps_box {
	margin-bottom: 65px;
}

.how_gic_work {
	padding-top: 50px;
}

.student_gic_page .ready_start_text h5 {
	color: #4a4a4a;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.student_gic_page .ready-start {
	background: #fff
}

.student_gic_page .ready_start_text a {
	background: #4ad3a5;
	color: #fff;
}

.whats_next h1 {
	color: #4a4a4a;
	font-size: 34px;
}
.whats_next {
	padding-bottom: 20px;
}
.our_team_form .form-group input,
.our_team_form .form-group textarea  {
    height: 35px;
    border: 1px solid #333;
    border-radius: 4px; 
}

.our_team_form {
    padding: 19px 30px;
    background: url(../images/linkden-bg.png);
    height: 100%;
    background-size: cover;
}
.our_team_form .linkden-box {
    background: #fff;
    display: inline-block;
    padding: 28px 50px;
    border-top-right-radius: 82px;
    max-width: 387px;
    width: 100%;
}
.linkden-box a:before {
	border-radius: 0
}
	.linkden-box a {
    background: #0a6f53;
    border-radius: 5px;
    padding: 10px 15px
}
 .linkden-box img{
 	max-width: 100%;
 }

.our_team_form .form-group textarea {
	height: 100px;
	resize: none
}
.our_team_form .form-group input:focus, 
.our_team_form .form-group textarea {
	outline: none;
	box-shadow: none;
}
.our_team_form .form-group label{
	font-size: 14px;
	margin-bottom: 3px;
	color:#2c3e50;
}
.our_team_form p{
	font-weight: 500;
}
.our_team_text{
	background: #0a6f53;
	min-height: 100%;
	padding: 0 30px;
	min-height: 500px;
}
.our_team_text h5, .our_team_text p{
	color: #fff;
}

.our_team_text h5 {
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 22px;
    padding: 75px 104px;
    position: relative;
}

.our_team_text p{
	 font-size: 15px;
	 font-weight: 300;
}


.our_team_text h5:before {
    content: '';
    background: url(../images/comma-02.png);
    width: 29px;
    height: 20px;
    position: absolute;
    left: 46px;
    top: 20px;
}


.our_team_text h5:after {
    content: '';
    background: url(../images/comma-01.png);
    width: 29px;
    height: 20px;
    position: absolute;
    right: 57px;
    bottom: 21px;
}

.our-team-wrap {
    border: 1px solid #999;
    margin-top: 70px;
	margin-bottom: 100px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
}
.our_team_form{
	padding: 19px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="file"]{
	display: none;
}
.file_upload label {
    color: #333;
    padding: 7px 44px;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    border-radius: 22px;
    border: 1px dashed #333;
    overflow: hidden;
}
/*.file_upload label:before{
	content: '';
	background: #4ad3a5;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	border-radius: 4px;
	transition: ease all .4s;
	z-index: -1;
}

.file_upload label:hover:before{
	width: 100%;
} */

.team_btn a {
	 background: #4ad3a5;
    color: #fff;
    padding: 7px 24px;
    border-radius: 4px;    
}

/* FAQ */

.faq_search{
	background: #c4eddf;
	padding:70px 0
}

.search_wraper input {
    width: 75%;
    border-radius: 50px;
    border: 0;
	height: 45px;
	outline: none;
	padding-left: 15px;;
}

.search_wraper form{
	display: flex;
	flex-wrap: wrap;
} 
.search_wraper button {
    border: 0;
    padding: 0 0;
    margin-left: 20px;
    cursor: pointer;
    background: #0a6f53;
    height: 45px;
    width: 142px;
    text-align: center;
}

.faq_search_head h1{
	font-size: 24px;
}

.faq_question_ans button.btn.btn-link {
	width: 100%;
	position: relative;
}

.faq_question_ans button.btn.btn-link:after {
	content: '_';
	 position: absolute;
	 right: 0;
	 font-size: 28px;
	 color: #4ad3a5
}

.faq_question_ans button.btn.btn-link.collapsed:after{

	content: '+';
}

.faq_question_ans 	{
    padding: 50px 0;
}

.faq_question_ans  .question_answer .card-body {
    padding-top: 0;
    color: #848484;
}

/* Trade Finance Page */

.ittalic_head span{
	display: block
}

.trade-finance-page .gurantee_text p {
    font-size: 17px;
}


.trade-finance-page .gurantee_text ul {
    border:0
}
.trade-finance-page .gurantee_text ul li {
    font-size: 16px;
    padding-bottom: 22px;
}
 
.trade-finance-page .gurantee_text ul li:before{
	top: 6px
}
.ittalic_head{
	color: #9b9b9b;
	font-size: 32px;
}
 

.online_banking_header p {
    font-size: 15px;
    color: #9195a4;
}
 
.online_banking_header h1{
	font-weight: 400;
	margin-bottom: 20px;
	padding-top: 30px;
}
.online_banking_header ul li{
	color: #9195a4;
	font-size: 15px;
}
.online_banking_header ul li b{
	font-weight: bold;
	color: #000;
}
.online_banking_header ul li{
	margin-bottom: 15px;
}

.online_banking_header {
    padding-left: 54px;
}
 
.hbl_mobile {
    background: url(../images/side-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: -15px;
    height: 474px;
}
.hbl_mobile img {
    margin-left: 32px;
    max-width: 100%; 
}
section.online_banking_page {
    padding-top: 70px;
}

.banking_boxes_wraper .banking_boxes .bank_img_box {
    background: #fff;
    box-shadow: 0 0 6px 5px rgba(0,0,0,.2);
    display: inline-block;
    padding: 30px 40px;
}

.banking_boxes_wraper .banking_boxes .bank_img_text h2{
		color: #24355a;
		font-size: 18px;
		margin-bottom: 15px;
		margin-top: 30px;
}

.banking_boxes_wraper .banking_boxes .bank_img_text p{
	color: #9195a4;
	font-size: 15px;
}
.banking_boxes {
    text-align: center;
}
.mobile_baking_heading h1 {
    font-size: 24px;
    color: #24355a;
}

.mobile_baking_heading p {
    font-size: 14px;
    color: #9195a4;
}
.banking_boxes_wraper {
    padding-top: 50px;
}
section.mobile_baking {
	padding-top: 50px;
	padding-bottom: 50px;
}
section.online_more_banks.right {
    padding-top: 0;
    padding-bottom: 100px;
}
.online_more_banks .online_more_side_img{
	position: relative;
	height: 100%;
	border-radius: 50px 0 0 0;
}

.online_more_banks{
	position: relative;
}
.online_more_banks:before{
	content: '';
	
	position: absolute;
	
	background-size: contain;
	background-repeat: no-repeat;

}

.online_more_banks.left:before{
	height: 594px;
	width: 207px;
	z-index: -1;
	top: -178px;
	background-image:  url(../images/side-bg-2.png);
	left: 0;
}
.online_more_banks.right:before {
    height: 594px;
    width: 366px;
    z-index: -1;
    top: -217px;
    right: 0;
    background-image:  url(../images/side-bg-3.png);
    background-size: 98% 80%;
}
.online_more_banks.side-three:before {
    background-image: url(../images/side-3.png);
    height: 300px;
    width: 207px;
    z-index: -1;
    top: -71px;
    left: 0;
}
.online_more_banks.side-three .online_more_side_img{
	padding-top: 50px;
	padding-left: 25px;
}
section.online_more_banks.left {
	padding-top: 73px;
	padding-bottom: 164px;
}

section.online_more_banks.side-three {
    padding-top: 0;
    padding-bottom: 50px;
}
.online_more_banks.left .online_more_side_text p {
    padding-right: 0;
}
.online_more_side_text {
    border-radius: 0 0 50px 0;
}
.online_more_banks.right .online_more_side_text p {
	padding-left: 100px;
    padding-right: 80px;
}
 

 .online_more_side_text p {

    color: #9b9b9b;
    font-size: 16px;
    margin-bottom: 25px;
}
.online_more_banks.right .online_more_side_img h1, .online_more_banks.right .online_more_side_img p{
	color: #000;
	padding-left: 20px;
}
.online_more_side_img h1 {
    color: #fff;
    margin-bottom: 0;
}

.online_more_side_img p {
    color: #fff;
    margin-bottom: 0;
}

.about_top_text {
    padding: 57px 70px;
}
.about_heading_text h1 {
    color: #086f54;
    font-weight: 600;
}

.about_heading_text p {
	font-size: 22px;
	color: #086f54;
    line-height: normal;
}

.board_of_directors{
padding: 50px 0
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track , html::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  background: #888; 
}

body::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}
.board_of_directors .horizontal::-webkit-scrollbar{
	height: 11px ;
cursor: pointer;
}
.board_of_directors .horizontal::-webkit-scrollbar-track{
	background: #666;
	border-radius: 50px;
	cursor: pointer;

}
.board_of_directors .horizontal::-webkit-scrollbar-thumb{
	background: #888;
	border-radius: 50px;
	cursor:url("http://i.imgur.com/2qleX.jpg"), auto;
}
.board_of_directors .horizontal::-webkit-scrollbar-thumb:hover{
	background: #555
}
 
.director_box h5, .director_box h4, .director_box p{
margin-bottom: 0;
color: #0a6f53;
}
.director_box img {
    border-radius: 119px;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    object-fit: cover;
}}


.director_box h5 {
    color: #4a4a4a;
    font-size: 15px;
}

.director_box h4 {
    color: #0a6f53;
	font-size: 14px;
	font-weight: 400;
	padding-top: 5px;;
}
.director_box {
    background: #f4fffb;
    padding: 26px 12px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
}
.director_box p {
    line-height: normal;
}

.director_box p:nth-of-type(1){
margin-top: 20px;
}
.board_of_directors h1{
	color: #0a6f53;
	font-size: 32px;
    font-weight: 400;
	text-align: center;
	width: 100%;
	padding-bottom: 30px;;
}


.join_team {
    padding: 50px 0;
}

.join_team h1 {
    color: #0a6f53;
    font-size: 26px;
    font-weight: 400;
}

.join_team p {
 color:#4a4a4a;
 font-size: 21px;
 font-weight: 300;
}

.join_team_img{
	text-align: center
}

.join_team_text {
    padding-top: 50px;
}

.join_team_text .common_btn {
	background: #4ad3a5;
    padding: 9px 65px;
}
 
.new_account_wrapper .steps .steps_heading h3 {
    color: #9b9b9b;
    font-size: 20px;
    margin-bottom: 0;
}

.new_account_wrapper .steps .steps_heading p{
	color: #0a6f53;
    font-weight: 500;
}
.all_steps ul {
    display: flex;
    justify-content: space-between;
	position: relative;
}

.all_steps ul:before {
	content: '';
 

    width: 100%;
    height: 1px;
    background: #e6e6e6;
    margin-top: unset;
    position: absolute;
    top: 9px;
}
.all_steps ul li{
	width: 20px;
	height: 20px;
	background: #e6e6e6;
	border-radius: 50px;
	position: relative;
}


.all_steps ul li.active{
	background: #4ad3a5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.all_steps ul li.active:before {
    content: '';
    background-color: #fff;
    -webkit-mask-image: url('../images/check-mark.svg');
    mask-image: url('../images/check-mark.svg');
    /* background: url("../images/check-mark.svg"); */
    width: 13px;
    height: 13px;
    display: block;
}
.next_btn , .black_btn{
	font-weight: 500;
	text-transform: uppercase;
}

.next_btn.green{
	background: #4ad3a5;
}
.next_btn.black_btn{
	background: transparent;
	border:1px solid #979797;
	color: #4a4a4a;
}

.next_btn.grey{
	background: #4a4a4a;
}
.line_break{
	border: 1px dashed;
	margin: 25px 0;
}
 .next_btn{
	
border: 0;
	
color: #fff;
	
width: 100%;
	
border-radius: 50px;
	
cursor: pointer;
}


.commonForm .form-control, .commonForm select{
	background: #e6f9f3;
	height: 50px !important;
	border-radius: 50px;
	border:0;
	padding-left: 20px;
	font-weight: 300;
}
.commonForm .form-control::placeholder{
	color: #495057; 
}

.commonForm .form-control.black::placeholder{
	color: #a6a6a7; 
}
.commonForm .form-control.black{
	background: #4a4a4a;
	color: #a6a6a7;
}

.commonForm .form_heading {
    font-size: 22px;
    color: #0a6f53;
    margin-bottom: 15px
}
.commonForm .heading_text {
    font-weight: 500 !important;
    color: #212529 !important;
}
.commonForm .steric {
     color:red;
}
.commonForm .btn-group label{
	    padding: 14px 0;
	    box-shadow: none;
}
.commonForm .btn-group, .commonForm .btn-group > label.btn{
	width: 100%;
}

.commonForm .btn-group .btn.active{
	background: #4ad3a5;
	color: #fff;
	border:0; 
}

.commonForm .btn-group .btn{
	background: #f1f1f1;
	color: #333;
	border:0; 
}

.commonForm .btn-group label.btn:first-child{
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
}

/*Custom Checkbox*/

.customChecbox{
	-webkit-appearance:none;
	position: relative;
	box-shadow: none;
	outline: none;
}
.customChecbox:before{
	content: '\02713';
	width: 20px;
	height: 20px;
	border:2px solid #4ad3a5;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius:3px;
	-o-border-radius:3px; 
	color: transparent;
}

.customChecbox:checked:before{
	color: #000
}

/*Radio Button*/


/*Custom Checkbox*/
.commonForm .form-group span{
	position: relative;
}

.agree p{
	margin-left: 30px
}
.customRadio{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none; 
	position: relative;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	margin-right: 23px;
}
.customRadio:before{
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #4ad3a5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 13px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius:50px;
	-o-border-radius:50px; 
	background: transparent;
	position: absolute;
	left: 0;
	top: -15px;
} 
.customRadio:checked:before{
 	background: #4ad3a5;
}



.next_btn{
	
}
.commonForm .btn-group label.btn:last-child{
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}

.commonForm .form-group .label_text{
	    color: #0a6f53;
    font-weight: 500;
}


.new_account_wrapper {
    padding: 50px 0;
}

.new_account {
    padding-bottom: 50px;
}

.commonForm .form-group{
    margin-bottom: 20px;
}

.commonForm .form-group p{
	color: #9b9b9b;
    font-weight: 300;
}
.commonForm .hint{
	font-size: 15px;
    font-weight: 500;
    color: red;
}
.mortage_calculator_page{
	padding: 40px 0;
}

.mortage_calculator_page .mortal_heading h1{
	color: #4ad3a5;
	font-size: 32px;
}


.mortage_calculator_page .mortal_heading h2{
	
	color: #9b9b9b;
	font-size: 52px;
}
.mortage_calculator_page .mortal_heading_text{
	color: #9b9b9b;
	height: 100%;
	display: flex;
	align-items: center;
}
.price_calculator .form-group label{
	display: block;
}
/*.price_calculator .form-control{
	border-radius: 0
}*/
.calculate_interest input{
	text-align: center;
}

 
  .range-slider {
	width: 100%;
  }
  
  .range-slider__range {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background: #a5e9d2;
	outline: none;
	padding: 0;
	margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
	-webkit-appearance: none;
			appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
	-webkit-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
	border:1px solid #a3a3a3;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
	background: #1abc9c;
  }
  .range-slider__range:active::-webkit-slider-thumb {
	background: #1abc9c;
  }
  .range-slider__range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: #ffffff;
	cursor: pointer;
	-moz-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
  }


  /* .range-slider__range::-moz-range-thumb:hover {
	background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
	background: #1abc9c;
  }
  .range-slider__range:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  } */
  
  .range-slider__value {
	display: inline-block;
	position: relative;
	width: 60px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #2c3e50;
	padding: 5px 10px;
	margin-left: 8px;
  }
  .range-slider__value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #2c3e50;
	border-bottom: 7px solid transparent;
	content: "";
  }
  
  ::-moz-range-track {
	background: #d7dcdf;
	border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer {
	border: 0;
  }
  

  .calculate_interest a {
    background: #4ad3a5;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_calculator {
    max-width: 600px;
    margin: 0 auto;
}

.student_eligbility h2{
	font-size:18px; 
	text-align: center;
}

.std_options_img img {
    width: 91px;
}

.show_cheque {
    border: 1px solid #cecece;
    padding: 25px 18px;
    margin-bottom: 50px;
}
.show_cheque img {
    width: 100%;
}
.show_cheque > p  {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    padding: 0 86px;
}

.hbl_checkinfo{
	background: #e6f9f3;
}
.hbl_checkinfo p{

    font-size: 14px;
    margin-bottom: 0
}
.hbl_checkinfo h5{
	color: #0a6f53;
    font-size: 16px;
}
.hbl_checkinfo {
    background: #e6f9f3;
    display: inline-block;
    padding: 19px 67px;
    border-radius: 8px;
}